<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Japanese Specialities</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="../static/css/post.css" rel="stylesheet">
  

</head>

<body>

  <!-- Navigation -->
  <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: antiquewhite;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Japanese Food</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#expandme"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- listed items appear here -->
            <div class="collapse navbar-collapse" id="expandme">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Our dishes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Sushi</a></li>
                            <li><a class="dropdown-item" href="#">Udon Noodles</a></li>
                            <li><a href="#" class="dropdown-item">Sashimi</a></li>
                            <li><a class="dropdown-item" href="#">Rice</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">About Us</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <p class="title mt-4">Sushi – Tinh hoa văn hóa ẩm thực Nhật Bản</p>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">admin</a>   
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on December 31, 2020 at 12:00 PM</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="https://vinmec-prod.s3.amazonaws.com/images/20200410_153038_287034_sushi-la-gi.max-1800x1800.jpg  " alt="">

        <hr>

        <!-- Post Content -->
        <div class="content">
          <p class="bold">1 - Sự hấp dẫn của Sushi</p>
          <p>Để làm đươc một đĩa Sushi đúng vị và đúng nghĩa không phải là một điều dễ dàng, đòi khỏi rất nhiều khâu chế biến. Nước dùng để nấu cơm phải là nước tinh khiết như vậy chúng ta mới có được những hạt cơm dẻo, thơm mùi gạo, không bị nát, độ mềm vừa phải tạo sự kết dính. Nguyên liệu hải sản phải tươi, nhất là lúc vừa bắt, như vậy độ ngậy và hương vị khi thưởng thức sẽ nguyên chất, không pha tạp.</p>
          <p class="bold">2 - Thành phần chính trong món Sushi</p>
          <p>Sushi có rất nhiều thành phần và công thức chế biến khác nhau, tuy nhiên nguyên liệu chính để làm nên món này là cơm trộn dấm kết hợp với các loại thức ăn như cá sống, trứng cá, hải sản tươi sống, rau củ, wasabi (mù tạt).
          Cơm trộn dấm: gọi là sumeshi hay sushimeshi. Loại dấm sushisu chuyên dùng để trộn cơm là dấm có pha chút muối, đường, rượu ngọt mirin. Cơm không nấu chín hoàn toàn được trộn với dấm.
          Các loại hải sản dùng để làm sushi gọi là tane, bao gồm cá ngừ, cá hồng, cá bơn, cá mũi kiếm, cá mú, cá trình, cá cóc, cá thu, tôm, mực, bạch tuộc, các loại ốc biển, cua biển, trứng cá hồi…
          </p>
          <p class="bold">3 – Các loại sushi</p>
          <p>Sushi rất đa dạng với nhiều loại nguyên liệu được sử dụng để chế biến, điểm chung giữa các loại sushi đó là phần cơm trộn giấm thì không thay đổi.<br>
          <ul>
          <li>Nigirizushi: là loại sushi với hình dạng chúng ta thường thấy nhất. Loại sushi này bao gồm phần cơm được nặn bằng tay thành dạng hình khối chữ nhật dài, góc cạnh hơi tròn, và miếng cá sống, tôm sống, mực sống, bạch tuộc, hoặc trứng rán được đặt lên trên (topping)</li>
          <li>Gunkanmaki: đây là một dạng đặc biệt của nigirizushi, khi có thêm một miếng rong biển cuốn xung quanh miếng cơm. Loại sushi này, phần topping thường được sử dụng là các loại trứng cá, nhím biển…</li>
          <li>Temarizushi: cũng là dạng nigirizushi nhưng được tạo dáng hình cầu. Bất kì loại topping nào cũng được sử dụng khi làm temarizushi, thậm chí là thịt nguội cho trẻ con hoặc hoa quả cho những người ăn chay.</li>
          </ul>
          </p>
          <p class="bold">4 - Cách ăn Sushi tại các nhà hàng Nhật Bản</p>
          <p>Việc thưởng thức Sushi giờ không chỉ là “độc quyền” của người Nhật mà đã trở thành niềm đam mê của nhiều nước trên thế giới. Nhưng để thưởng thức Sushi thì phải theo đúng cách của người Nhật thì Sushi mới ngon theo đúng vị của nó.
        
          <ul>
            <li>Sushi thường được cắt theo khoanh, dùng ngay sau khi vừa được dọn ra, và ăn kèm với nước tương, wasabi và gừng ngâm chua</li>
            <li>Theo phép lịch sự và để giữ vẻ thẩm mỹ cho đĩa thức ăn, du khách dùng những miếng sushi theo thứ tự từ ngoài vào trong. Không nên gắp ngay miếng ở giữa đĩa.</li>
            <li>Khi ăn nhà hàng có băng chuyền: Món ăn được di chuyển qua mặt khách. Du khách thích món nào thì tự lấy và thưởng thức.</li>
            <li>Những đĩa thức ăn được phân chia theo màu sắc khác nhau. Mỗi màu tương ứng với một mức giá. Sau khi ăn xong, du khách nhớ xếp đĩa thành từng chồng ngay ngắn.</li>
          </ul>
          </p>
          <hr>
        </div>
       
      </div>
      
      

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Sushi</a>
                  </li>
                  <li>
                    <a href="#"></a>
                  </li>
                  <li>
                    <a href="#"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Recent Post</h5>
          <div class="card-body">

            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://vinmec-prod.s3.amazonaws.com/images/20200410_153038_287034_sushi-la-gi.max-1800x1800.jpg" alt="Card image cap">
              <div class="card-body">
                <a href="#" class="card-title">Sushi – Tinh hoa văn hóa ẩm thực Nhật Bản</a>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/%E5%88%BA%E8%BA%AB%E6%8B%BC%E7%9B%A4_%283253764826%29.jpg/1024px-%E5%88%BA%E8%BA%AB%E6%8B%BC%E7%9B%A4_%283253764826%29.jpg" alt="Card image cap">
              <div class="card-body">
                <a href="#" class="card-title">Sashimi – Tinh hoa văn hóa ẩm thực Nhật Bản</a>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://cdn.tgdd.vn/Files/2020/04/10/1248145/tim-hieu-ve-mi-udon-net-van-hoa-am-thuc-doc-dao-tu-nhat-ban-202004101540083900.jpg" alt="Card image cap">
              <div class="card-body">
                <a href="#" class="card-title">Udon – Tinh hoa văn hóa ẩm thực Nhật Bản</a>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>


          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-2 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; JS-BCM-Team5 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/0fd8836a41.js" crossorigin="anonymous"></script>
</body>

</html>
