{% extends 'base.html' %}


{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Profile</h1>
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Location: {{ user.profile.location }}</p>
    <p>Birthday: {{ user.profile.birth_date }}</p>
    <p>Description: {{ user.profile.bio }}</p>
    <p>Facebook: {{ user.profile.facebook_url }}</p>
    {% if user.profile.image %}
    <img src="{{ user.profile.image.url }}" width="240">
    {% endif %}
</div>
    {%if user == user.profile.id %}
        <a href="{% url 'edit_profile' %}">Edit Profile</a>
    {%endif%}

{% endblock %}